<nz-row nzAlign="middle">
  <div
    class="item-position__item-image"
    style="background-image: url('https://caracoltv.brightspotcdn.com/dims4/default/94c44a7/2147483647/strip/true/crop/640x425+0+0/resize/615x408!/quality/90/?url=https%3A%2F%2Fcaracol-brightspot.s3-us-west-2.amazonaws.com%2Fassets%2Fgol%2Ffalcaogarciaseleccioncolombia070918afpe.jpg')"
    nz-col
    nzSpan="2"></div>
  <nz-col nzSpan="22">
    <nz-row nzJustify="space-between" nzAlign="middle" class="item-position--gutter">
      <span nz-col nzSpan="18">Falcao García</span>
      <span nz-col nzSpan="4" class="item-position__number-position" style="text-align: right;">01</span>
    </nz-row>
  </nz-col>
</nz-row>
