<form nz-form [formGroup]="form" style="min-height: 150px;">
  <nz-checkbox-wrapper *ngIf="currentServices?.length > 0; else emptyData">
    <div nz-row formArrayName="services">
      <div nz-col nzSpan="24" *ngFor="let service of currentServices; let i = index;">
        <div formGroupName="{{i}}">
          <label nz-checkbox nzValue="{{service.id}}" formControlName="selected">{{service.name}}</label>
        </div>
      </div>
    </div>
  </nz-checkbox-wrapper>
</form>

<ng-template #emptyData>
  <nz-empty></nz-empty>
</ng-template>
