<form nz-form [formGroup]="form">
  <nz-row>
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzSpan="6" nzSm="9" nzFor="name">Nombre del servicio</nz-form-label>
        <nz-form-control nzSpan="18" nzSm="15">
          <input nz-input formControlName="name" id="name">
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <nz-row nzGutter="12">
    <nz-col nzSpan="12" nzSm="9">
      <nz-form-item>
        <nz-form-label nzSpan="12" nzSm="10" nzFor="price">Precio</nz-form-label>
        <nz-form-control nzSpan="12" nzSm="14">
          <nz-input-number
            [nzFormatter]="formatterPesos"
            [nzParser]="parserPesos"
            formControlName="price"
            id="price"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col nzSpan="12" nzSm="15">
      <nz-form-item>
        <nz-form-label [nzSpan]="12" nzFor="gender">Género asociado</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select formControlName="gender" id="gender">
            <nz-option nzValue="man" nzLabel="Hombre"></nz-option>
            <nz-option nzValue="woman" nzLabel="Mujer"></nz-option>
            <nz-option nzValue="boy" nzLabel="Niño"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
</form>
