<nz-table>
  <thead>
  <tr>
    <th>Posición</th>
    <th>Cliente</th>
    <th>Servicios</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of tickets?.data">
    <td>{{ data.position }}</td>
    <td>{{ data.user.name }}</td>
    <td>Servicios.....</td>

    <td nz-row nzJustify="end">
      <a *ngIf="data.status === 'in_queue'" (click)="updateTicket(data.id, {status: 'in_service'})">
        atender
      </a>
      <a *ngIf="data.status === 'in_service'" (click)="endingService(data.id, data)">
        finalizar servicio
      </a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="updateTicket(data.id, {status: 'canceled', active: false})">Cancelar turno</a>
    </td>
  </tr>
  </tbody>
</nz-table>

<app-dialog-ending-service [isVisible]="showEndingDialog" title="Finalizar servicio"
                           (okEvent)="okEndingDialog($event)"
                           (closedEvent)="closeEndingDialog()"
                           [services]="currentTicket?.ticket_services"></app-dialog-ending-service>
