<nz-layout class="queue-view">
  <nz-row nzAlign="middle" class="queue-view--default-padding">
    <img src="assets/yanior-barber-logo.png" style="height: 42px;"/>
    <img src="assets/yanior-barber.png" style="height: 24px;"/>
  </nz-row>
  <nz-row class="queue-view--default-padding">
    <div nz-col nzSpan="16">
      <div style="height: 100%;">Video</div>
      <div>
        <nz-row nzGutter="24">
          <nz-col nzSpan="12">
            <nz-row nzJustify="space-between" nzAlign="bottom">
              <span class="queue-view--title">Atendiendo</span>
              <span class="queue-view--sub-title">Turno</span>
            </nz-row>
            <nz-divider></nz-divider>
            <app-item-position></app-item-position>
          </nz-col>

          <nz-col nzSpan="12">
            <nz-row nzJustify="space-between" nzAlign="bottom">
              <span class="queue-view--title">Atendiendo</span>
              <span class="queue-view--sub-title">Turno</span>
            </nz-row>
            <nz-divider></nz-divider>
            <app-item-position></app-item-position>
          </nz-col>
        </nz-row>
      </div>
    </div>
    <div nz-col nzSpan="8">
      <nz-row>
        <nz-col nzSpan="24">
          <span class="queue-view--title">Fila</span>
          <nz-divider></nz-divider>
          <app-item-position></app-item-position>
          <app-item-position></app-item-position>
          <app-item-position></app-item-position>
          <app-item-position></app-item-position>
        </nz-col>
      </nz-row>
    </div>
  </nz-row>
</nz-layout>
