.queue-view {
  width: 100%;
  height: 100vh;
  background: rgb(105, 109, 112);
  background: linear-gradient(160deg, rgba(105, 109, 112, 1) 22%, rgba(33, 36, 41, 1) 100%);
  color: #ffffff;

  &__item {
    &-image {
      width: 30px;
      height: 30px;
      background-position: center;
      background-size: cover;
      border-radius: 4px;
    }
  }

  &__number-position {
    font-size: 2rem;
  }

  &--spacing {
    letter-spacing: 1px;
  }

  &--title {
    @extend .queue-view--spacing;
    font-weight: bold;
  }

  &--sub-title {
    @extend .queue-view--spacing;
  }
}
