<nz-layout class="queue-view">
  <nz-row nzAlign="middle" class="queue-view--default-padding">
    <img src="assets/yanior-barber-logo.png" style="height: 42px;"/>
    <img src="assets/yanior-barber.png" style="height: 24px;"/>
  </nz-row>
  <nz-row class="queue-view__content queue-view--default-padding">
    <div nz-col nzSpan="16" style="height: 100%;">
      <div class="queue-view__video">
        <youtube-player
          videoId="c8ijHgTvv9I"
          suggestedQuality="highres"
          height="100%"
          width="100%">
        </youtube-player>
      </div>
      <div class="queue-view__in-hold">
        <nz-row nzGutter="24">
          <nz-col nzSpan="12">
            <nz-row nzJustify="space-between" nzAlign="bottom">
              <span class="queue-view--title">Atendiendo</span>
              <span class="queue-view--sub-title">Turno</span>
            </nz-row>
            <nz-divider></nz-divider>
            <app-item-position *ngIf="ticketsInService?.length > 0"
                               [position]="ticketsInService[0].position"
                               [user]="ticketsInService[0].user"></app-item-position>
          </nz-col>

          <nz-col nzSpan="12">
            <nz-row nzJustify="space-between" nzAlign="bottom">
              <span class="queue-view--title">Siguiente</span>
              <span class="queue-view--sub-title">Turno</span>
            </nz-row>
            <nz-divider></nz-divider>
            <app-item-position *ngIf="paginateTicketInQueue?.data?.length > 0"
                               [position]="paginateTicketInQueue.data[0].position"
                               [user]="paginateTicketInQueue.data[0].user"></app-item-position>
          </nz-col>
        </nz-row>
      </div>
    </div>
    <div nz-col nzSpan="8" style="height: 100%; overflow: auto;">
      <nz-row>
        <nz-col nzSpan="24">
          <span class="queue-view--title">Fila</span>
          <nz-divider></nz-divider>
          <app-item-position *ngFor="let ticket of paginateTicketInQueue?.data" [position]="ticket.position"
                             [user]="ticket?.user"></app-item-position>
        </nz-col>
      </nz-row>
    </div>
  </nz-row>
</nz-layout>
