<nz-row nzJustify="center" nzAlign="middle" style="height: 100%;">
  <nz-card nz-col nzSpan="10" nzTitle="{{title}}">
    <div [hidden]="step !== 1">
      <ng-container *ngTemplateOutlet="clientIdentifier"></ng-container>
    </div>
    <div [hidden]="step !== 2">
      <ng-container *ngTemplateOutlet="serviceSelector"></ng-container>
    </div>
    <div *ngIf="step === 3">
      <ng-container *ngTemplateOutlet="finishSelection"></ng-container>
    </div>
    <div *ngIf="step === 4">
      <ng-container *ngTemplateOutlet="selectMyUser"></ng-container>
    </div>
  </nz-card>
</nz-row>

<ng-template #clientIdentifier>
  <nz-row nzJustify="center" nzAlign="middle">
    <app-client-login-method nz-col nzSpan="20" [method]="loginMethod" [value]="loginValue"
                             (submitEvent)="searchClient($event)"></app-client-login-method>
    <nz-divider></nz-divider>

    <nz-space>
      <nz-space-item>
        <span (click)="step = 2;">No tienes cuenta en Yanior Barber?</span>
      </nz-space-item>
      <nz-space-item>
        <a routerLink="/public/register" [queryParams]="{back: '/public/ticket'}">
          Regístrate
        </a>
      </nz-space-item>
    </nz-space>
  </nz-row>
</ng-template>

<ng-template #serviceSelector>
  <app-barber-services #barberService></app-barber-services>
  <button nz-button nzType="primary" style="width: 100%;" (click)="createTicket();">
    Finalizar
  </button>
</ng-template>

<ng-template #finishSelection>
  <nz-row nzJustify="center" nzAlign="middle">
    <h1 style="width: 100%; text-align: center;">Su turno es</h1>
    <div style="font-size: 3rem;">{{ticketCreated?.position | number: '2.0'}}</div>
    <nz-divider></nz-divider>
    <div>
      <span>Hora de atención aproximada </span>
      <strong>09:00 AM</strong>
    </div>
  </nz-row>
</ng-template>

<ng-template #selectMyUser>
  <app-user-list [users]="users" (selectedEvent)="selectClient($event)"></app-user-list>
  <nz-divider></nz-divider>
  <nz-space>
    <nz-space-item>
      <span>Su usuario no aparece en la lista? </span>
    </nz-space-item>
    <nz-space-item>
      <a routerLink="/public/register" [queryParams]="{back: '/public/ticket'}">
        Regístrate
      </a>
    </nz-space-item>
  </nz-space>
</ng-template>
