<nz-layout class="app-dashboard">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/">
        <img src="assets/yanior-barber-logo.png" alt="logo">
        <h1>Yanior barber</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/dashboard/add/service">Servicios</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/dashboard/management/tickets">Turnos</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/dashboard/management/clients">Clientes</a>
      </li>
    </ul>

    <!--    <div class="ant-menu-item menu-sidebar__setting-box">-->
    <!--      <i nz-icon nzType="setting" nzTheme="outline"></i>-->
    <!--      <a routerLink="/dashboard/settings">Configuración</a>-->
    <!--    </div>-->
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
