.total-payment {
  padding: 24px 12px;
  background-color: #eaeaea;
  border: 1px solid darkgray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
